<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout/layout ::head}"></head>
<body>

<header th:replace="~{layout/layout ::header}"></header>

<div class="container py-4">

    <div class="card bg-dark text-white">
        <div class="card-header">
            <h2 class="text-secondary border-bottom border-success" th:text="${titulo}"></h2>
        </div>
        <div class="card-body">
            <div th:object="${client}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger list-group list-group-flush">
                    <li th:each="error: ${#fields.errors('*')}" th:text="${error}"
                        class="list-group-item list-group-item-danger"></li>
                </ul>
            </div>
            <form th:action="@{/form}" th:object="${client}" method="post" enctype="multipart/form-data">
                <div class="form-group row my-3">
                    <label class="col-sm-1 col-form-label" th:text="#{text.cliente.nombre}">Nombre</label>
                    <div class="col-sm-6">

                        <input type="text" th:field="*{name}" th:errorclass="'form-control alert alert-danger'"
                               class="form-control"/>
                    </div>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group row my-3">
                    <label class="col-sm-1 col-form-label" th:text="#{text.cliente.apellido}">Apellido</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{lastname}" th:errorclass="'form-control alert alert-danger'"
                               class="form-control"/>
                    </div>
                    <small th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group row my-3">
                    <label class="col-sm-1 col-form-label" th:text="#{text.cliente.email}">Email</label>
                    <div class="col-sm-6">
                        <input type="email" th:field="*{email}" th:errorclass="'form-control alert alert-danger'"
                               class="form-control"/>
                    </div>
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group row my-3">
                    <label class="col-sm-1 col-form-label" th:text="#{text.cliente.creteAt}">Fecha</label>
                    <div class="col-sm-6">
                        <input type="date" th:field="*{createAt}" th:errorclass="'form-control alert alert-danger'"
                               class="form-control"/>
                    </div>
                    <small th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"
                           class="form-text text-danger"></small>
                </div>

                <div class="form-group row my-3">
                    <label for="file" class="col-sm-1 col-form-label" th:text="#{text.cliente.foto}">Foto</label>
                    <div class="col-sm-6">
                        <input id="file" type="file" name="file" class="form-control"/>
                    </div>
                </div>

                <div class="form-group row my-3">
                    <div class="d-grid gap-2 col-7">
                        <input type="submit" th:value="#{text.cliente.btn.crear}" class="btn btn-outline-secondary text-white"/>
                    </div>
                </div>
                <!--        <input type="hidden" th:field="*{id}"/>-->
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{layout/layout ::footer}"></footer>
</body>
</html>