<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout ::head "></head>
<body>

<header th:replace="layout/layout ::header "></header>

<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header">
            <h2 class="text-secondary border-bottom border-success" th:text="${titulo}"></h2>
        </div>
        <div class="card-body">
            <h4 class="card-title">
                <a class="btn btn-outline-primary btn-xs" th:href="@{/form}">Crear Clientes</a>
            </h4>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.name}"></td>
                    <td th:text="${cliente.lastname}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createAt}"></td>
                    <td>
                        <a th:href="@{/form/} + ${cliente.id}" class="btn btn-outline-warning btn-xs">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/delete/} + ${cliente.id}" class="btn btn-outline-danger btn-xs"
                           th:confirm-delete="'Esta seguro que desea elimar el cliente '
                   + ${cliente.name} + ' ' + ${cliente.lastname} + ' ?'"
                           onclick="return confirm(this.getAttribute('confirm-delete'))">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layout/layout ::footer "></footer>
</body>
</html>