<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout ::head}"></head>
<body>

<header th:replace="~{layout/layout ::header}"></header>

<div class="container py-4">

    <div class="card bg-dark">
        <div class="card-header">
            <h2 class="text-secondary border-bottom border-success" th:text="${titulo}"></h2>
        </div>
        <div class="card-body bg-dark">
            <h4 class="card-title">
                <a class="btn btn-outline-primary btn-xs" th:href="@{/form}" sec:authorize="hasRole('ROLE_ADMIN')">Crear Clientes</a>
                <a th:href="@{'/list'(format=csv)}" class="btn btn-outline-success btn-sm float-end">CSV</a>
            </h4>

            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th sec:authorize="hasRole('ROLE_USER')">Id</th>
                    <th th:text="#{text.cliente.nombre}">Nombre</th>
                    <th th:text="#{text.cliente.apellido}">Apellido</th>
                    <th th:text="#{text.cliente.email}">Email</th>
                    <th th:text="#{text.cliente.creteAt}">Fecha</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.crear}">Crear Factura</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.editar}">Editar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.eliminar}">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td sec:authorize="hasRole('ROLE_USER')">
                        <a class="btn btn-outline-secondary" th:href="@{/see/} + ${cliente.id}" th:text="${cliente.id}"></a>
                    </td>
                    <td th:text="${cliente.name}"></td>
                    <td th:text="${cliente.lastname}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createAt}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{'/invoice/form/' + ${cliente.id}}" class="btn btn-outline-success btn-xs" th:text="#{text.cliente.crear}">Crear
                            Factura</a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/form/} + ${cliente.id}" class="btn btn-outline-warning btn-xs" th:text="#{text.cliente.editar}">Editar</a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/delete/} + ${cliente.id}" class="btn btn-outline-danger btn-xs"
                           th:confirm-delete="#{text.cliente.confirmar}
                   + ${cliente.name} + ' ' + ${cliente.lastname} + ' ?'"
                           onclick="return confirm(this.getAttribute('confirm-delete'))" th:text="#{text.cliente.eliminar}">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav th:replace="~{paginator-nav ::paginator}"></nav>
        </div>
    </div>
</div>

<footer th:replace="~{layout/layout ::footer}"></footer>
</body>
</html>